<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398817068853-9unpt9c31tocv04s4oc0j6dd7ngosmn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398817068853-9unpt9c31tocv04s4oc0j6dd7ngosmn3</string>
	<key>API_KEY</key>
	<string>AIzaSyCPVTNlJKZ66UVA1rXbVYlIJUKGLPJHExo</string>
	<key>GCM_SENDER_ID</key>
	<string>398817068853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KaiRosaEddy.Krello</string>
	<key>PROJECT_ID</key>
	<string>krello-85be6</string>
	<key>STORAGE_BUCKET</key>
	<string>krello-85be6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398817068853:ios:35ca2e62285a4842542e7c</string>
</dict>
</plist>